body {
    font-family: 'Arial', sans-serif;
    background: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-form h2 {
    text-align: center;
    color: #333;
}

.input-group {
    position: relative;
    margin-bottom: 1rem;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    display: block;
    transition: border-color 0.3s;
    box-sizing: border-box;
}

.input-group input:focus {
    border-color: #0056b3;
    outline: none;
}


.input-group label {
    position: absolute;
    top: -8px;
    left: 10px;
    background: white;
    padding: 0 5px;
    font-size: 12px;
    color: #777;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #0056b3;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background: #004494;
}

.error, .info {
    color: #cc0000;
    text-align: center;
    font-size: 14px;
}

.info {
    color: #006600;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #0056b3;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

button:last-child {
    margin-bottom: 0;
}

.button:hover {
    background: #007B9E;
}