:root {
    --background-color: #fff;
    --text-color: #333;
    --input-background-color: #f2f2f2;
    --input-border-color: #ccc;
    --input-text-color: #333;
    --primary-color: #007bff;
    --primary-color-hover: #e0e0e0;
    --container-background-color: white;
    --input-border-color-focus: #0056b3;
    --input-label-color: #777;
    --error-color: #cc0000;
    --info-color: #006600;
}

:root[data-theme="light"] {
    --background-color: #fff;
    --text-color: #333;
    --input-background-color: #f2f2f2;
    --input-border-color: #ccc;
    --input-text-color: #333;
    --primary-color: #007bff;
    --primary-color-hover: #e0e0e0;
    --container-background-color: white;
    --input-border-color-focus: #0056b3;
    --input-label-color: #777;
    --error-color: #cc0000;
    --info-color: #006600;
}

:root[data-theme="dark"] {
    --background-color: #333;
    --text-color: #ddd;
    --input-background-color: #444;
    --input-border-color: #555;
    --input-text-color: #ddd;
    --primary-color: #555;
    --primary-color-hover: #666;
    --container-background-color: #3a3f4b;
    --input-border-color-focus: #2f7384;
    --input-label-color: #d7dae0;
    --error-color: #e06c75;
    --info-color: #98c379;
}

body {
    font-family: 'Arial', sans-serif;
    background: var(--background-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

.login-container {
    background: var(--container-background-color);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-form h2 {
    text-align: center;
    color: var(--text-color);
}

input[type="password"],
input[type="text"] {
    border: 2px solid var(--input-border-color);
    background-color: var(--input-background-color);
    color: var(--input-text-color);
}

.input-group {
    position: relative;
    margin-bottom: 1rem;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid var(--input-border-color);
    border-radius: 4px;
    display: block;
    transition: border-color 0.3s;
    box-sizing: border-box;
}

.input-group input:focus {
    border-color: var(--input-border-color-focus);
    outline: none;
}

.input-group label {
    position: absolute;
    top: -8px;
    left: 10px;
    background: var(--container-background-color);
    padding: 0 5px;
    font-size: 12px;
    color: var(--input-label-color);
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: var(--primary-color);
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

button:last-child {
    margin-bottom: 0;
}

button:hover {
    background: var(--primary-color-hover);
}

.error {
    color: var(--error-color);
    text-align: center;
    font-size: 14px;
}

.info {
    color: var(--info-color);
    text-align: center;
    font-size: 14px;
}