:root {
    --background-color: #fff;
    --text-color: #333;
    --input-background-color: #f2f2f2;
    --input-border-color: #ccc;
    --input-text-color: #333;
    --primary-color: #007bff;
    --primary-color-hover: #e0e0e0;
    --table-header-background-color: #f2f2f2;
    --table-border-color: #ddd;
    --table-row-hover-background-color: #f5f5f5;
    --link-color: #007bff;
    --dropdown-background-color: #ccc;
    --dropdown-hover-background-color: #bbb;
    --settings-button-background-color: #007bff;
    --settings-button-hover-background-color: #0069d9;
}

:root[data-theme="light"] {
    --background-color: #fff;
    --text-color: #333;
    --input-background-color: #f2f2f2;
    --input-border-color: #ccc;
    --input-text-color: #333;
    --primary-color: #007bff;
    --primary-color-hover: #e0e0e0;
    --table-header-background-color: #f2f2f2;
    --table-border-color: #ddd;
    --table-row-hover-background-color: #f5f5f5;
    --link-color: #007bff;
    --dropdown-background-color: #ccc;
    --dropdown-hover-background-color: #bbb;
    --settings-button-background-color: #007bff;
    --settings-button-hover-background-color: #0069d9;
}

:root[data-theme="dark"] {
    --background-color: #333;
    --text-color: #ddd;
    --input-background-color: #444;
    --input-border-color: #555;
    --input-text-color: #ddd;
    --primary-color: #555;
    --primary-color-hover: #666;
    --table-header-background-color: #444;
    --table-border-color: #555;
    --table-row-hover-background-color: #555;
    --link-color: #ddd;
    --dropdown-background-color: #555;
    --dropdown-hover-background-color: #666;
    --settings-button-background-color: #555;
    --settings-button-hover-background-color: #666;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    color: var(--text-color);
    background-color: var(--background-color);
}

.pagination {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination a {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 16px;
    background-color: var(--input-background-color);
    color: var(--input-text-color);
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    text-decoration: none;
}

.pagination a:hover {
    background-color: var(--primary-color-hover);
}

.pagination a.selected-page {
    background-color: var(--primary-color);
    color: #fff;
}

h1 {
    margin-top: 0;
}

form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

input[type="text"],
input[type="file"],
input[type="password"],
input[type="submit"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    display: inline-block;
    transition: border-color 0.3s, background-color 0.3s;
    box-sizing: border-box;
}

input[type="text"],
input[type="password"],
input[type="file"] {
    border: 2px solid var(--input-border-color);
    background-color: var(--input-background-color);
    color: var(--input-text-color);
}

input[type="submit"] {
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid var(--table-border-color);
}

th {
    background-color: var(--table-header-background-color);
    font-weight: normal;
}

tr:hover {
    background-color: var(--table-row-hover-background-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

.settings-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.theme-switcher {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.theme-dropdown-label {
    margin-right: 10px;
}

.theme-dropdown {
    padding: 5px;
    font-size: 16px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    width: 100%;
}

.selected-page {
    background-color: rgba(51, 122, 183, 0.62);
    color: #fff;
}

.dialog-box {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog-content {
    background-color: var(--background-color);
    padding: 24px 32px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.dialog-content h2 {
    margin: 0 0 24px;
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
}

.dialog-content .close {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    float: right;
    color: #777;
}

.dialog-content .close:hover,
.dialog-content .close:focus {
    color: #000;
    text-decoration: none;
}

.dialog-content button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    width: 100%;
    margin-top: 16px;
}

.dialog-content button:hover {
    background-color: var(--primary-color-hover);
}

.dialog-content button + button {
    margin-left: 0;
    margin-top: 16px;
}

.drop-zone {
    width: 100%;
    max-width: 300px;
    border: 2px dashed var(--input-border-color);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.drop-zone__prompt {
    display: inline-block;
    font-size: 16px;
    color: var(--input-text-color);
    margin-top: 5px;
}

.drop-zone input[type="file"] {
    display: none;
}

.drop-zone.drag-over {
    border-color: var(--primary-color);
}

.drop-zone-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 16px;
}

.buttons button {
    flex-grow: 1;
    margin-right: 8px;
}

.buttons button:last-child {
    margin-right: 0;
}

.dropdown {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    mt4in-width: 180px;
    background-color: var(--background-color);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 8px;
    padding: 8px;
}

.dropdown-content a,
.dropdown-content button {
    color: var(--text-color);
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
}

.dropdown-content form {
    margin-bottom: 0;
}

.dropdown-content a:hover,
.dropdown-content button:hover {
    background-color: var(--dropdown-hover-background-color);
}

.dialog-content .custom-button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.dialog-content .custom-button:hover {
    background-color: var(--primary-color-hover);
}

.dropdown-content .custom-dropdown-button {
    margin-bottom: 2px;
    color: var(--text-color);
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
    background-color: var(--dropdown-background-color);
    border: none;
    width: 100%;
}

.dropdown-content .custom-dropdown-button:hover {
    background-color: var(--dropdown-hover-background-color);
}

.options-button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.options-button:focus {
    outline: none;
}

.arrow {
    display: inline-block;
    margin-left: 5px;
}

.arrow:last-child {
    display: none;
}

.small-button {
    font-size: 12px !important;
    padding: 10px 10px !important;
    cursor: pointer !important;
    margin-left: 10px !important;
    margin-bottom: 5px !important;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings-button {
    background-color: var(--settings-button-background-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    width: auto;
    margin-left: 10px;
}

.settings-button:hover {
    background-color: var(--settings-button-hover-background-color);
}

.input-button-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-wrap: nowrap;
}

.input-button-container input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
}

.input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.input-group label {
    margin-right: 10px;
}

.button-group {
    margin-top: 10px;
}