<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<head>
    <title>Ошибка</title>
    <link rel="stylesheet" th:href="@{/css/error.css}"/>
    <script th:src="@{/js/themes.js}"></script>
    <script>
        window.onload = function () {
            initTheme();
        };
    </script>
</head>
<body>
<div>
    <h1>Ошибка</h1>
    <p th:text="${status}">Статус</p>
    <p th:text="${error}">Ошибка</p>
    <p th:text="${message}">Сообщение</p>
</div>
</body>
</html>