<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <link rel="stylesheet" th:href="@{/css/registration.css}"/>
    <script th:src="@{/js/themes.js}"></script>
    <script>
        window.onload = function () {
            initTheme();
        };
    </script>
</head>
<body>

<form action="/auth/reg" method="get">
    <label for="username">Имя пользователя:</label>
    <input id="username" name="username" type="text"><br>

    <label for="password">Пароль:</label>
    <input id="password" name="password" type="password"><br>

    <button type="submit">Зарегистрироваться</button>
</form>

</body>
</html>