<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<head>
    <title>Поисковик</title>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/themes.js}"></script>
    <script th:src="@{/js/requests.js}"></script>
    <script th:src="@{/js/dropzone.js}"></script>
    <script th:src="@{/js/sorting.js}"></script>
    <script th:src="@{/js/search.js}"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>

<body th:data-is-admin="${isAdmin}">
<div class="header-container">
    <h1>Поисковик</h1>
    <button class="settings-button" onclick="openSettingsDialog()" type="button">Настройки</button>
</div>

<!--<form action="/search" method="get" onsubmit="storeSearch();">-->
<!--    <label>-->
<!--        <input id="searchQuery" name="query" placeholder="Search by name" type="text"/>-->
<!--    </label>-->
<!--    <label>-->
<!--        <input id="searchNumber" name="number" placeholder="Search by number" type="text"/>-->
<!--    </label>-->
<!--    <input type="submit" value="Search"/>-->
<!--</form>-->

<div th:replace="~{::pagination}"></div>

<table id="file-paths">
    <thead>
    <tr>
        <th>
            <a class="sort" data-sortby="decNumber" th:href="@{/search(page=${page}, sortBy='decNumber', sortOrder=${sortOrder}, sortByLastModified=${sortByLastModified})}">
                Дец. номер <span class="arrow">&uarr;</span><span class="arrow">&darr;</span>
            </a>
        </th>
        <th>
            <a class="sort" data-sortby="deviceName" th:href="@{/search(page=${page}, sortBy='deviceName', sortOrder=${sortOrder}, sortByLastModified=${sortByLastModified})}">
                Наименование <span class="arrow">&uarr;</span><span class="arrow">&darr;</span>
            </a>
        </th>
        <th>
            <a class="sort" data-sortby="documentType" th:href="@{/search(page=${page}, sortBy='documentType', sortOrder=${sortOrder}, sortByLastModified=${sortByLastModified})}">
                Тип документа <span class="arrow">&uarr;</span><span class="arrow">&darr;</span>
            </a>
        </th>
        <th>
            <a class="sort" data-sortby="usedDevices" th:href="@{/search(page=${page}, sortBy='usedDevices', sortOrder=${sortOrder}, sortByLastModified=${sortByLastModified})}">
                Применяемые устройства <span class="arrow">&uarr;</span><span class="arrow">&darr;</span>
            </a>
        </th>
        <th>
            <a class="sort" data-sortby="project" th:href="@{/search(page=${page}, sortBy='project', sortOrder=${sortOrder}, sortByLastModified=${sortByLastModified})}">
                Проект <span class="arrow">&uarr;</span><span class="arrow">&darr;</span>
            </a>
        </th>
        <th>
            <a class="sort" data-sortby="date" th:href="@{/search(page=${page}, sortBy='date', sortOrder=${sortOrder}, sortByLastModified=${sortByLastModified})}">
                Дата внесения/изменения <span class="arrow">&uarr;</span><span class="arrow">&darr;</span>
            </a>
        </th>
        <th>
            <a class="sort" data-sortby="user" th:href="@{/search(page=${page}, sortBy='user', sortOrder=${sortOrder}, sortByLastModified=${sortByLastModified})}">
                Кем внесено <span class="arrow">&uarr;</span><span class="arrow">&darr;</span>
            </a>
        </th>
        <th>
            <a class="sort" data-sortby="location" th:href="@{/search(page=${page}, sortBy='location', sortOrder=${sortOrder}, sortByLastModified=${sortByLastModified})}">
                Местоположение <span class="arrow">&uarr;</span><span class="arrow">&darr;</span>
            </a>
        </th>
        <th>
            <a class="sort" data-sortby="inventoryNumber" th:href="@{/search(page=${page}, sortBy='inventoryNumber', sortOrder=${sortOrder}, sortByLastModified=${sortByLastModified})}">
                Инвентарный номер <span class="arrow">&uarr;</span><span class="arrow">&darr;</span>
            </a>
        </th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="file : ${fileInfos}">
        <td><span th:text="${file.decNumber}"></span></td>
        <td><span th:text="${file.deviceName}"></span></td>
        <td><span th:text="${file.documentType}"></span></td>
        <td><span th:text="${file.usedDevices}"></span></td>
        <td><span th:text="${file.project}"></span></td>
        <td><span th:text="${file.creationTime}"></span><br><span th:text="${file.lastModified}"></span></td>
        <td><span th:text="${file.user.username}"></span></td>
        <td><span th:text="${file.location}"></span></td>
        <td><span th:text="${file.inventoryNumber}"></span></td>
        <td>
            <div class="dropdown">
                <button class="options-button" onclick="openDropdown(event)">...</button>
                <div class="dropdown-content" id="dropdown-content">
                    <input name="filePath" th:value="${file.location}" type="hidden"/>
                    <button class="custom-dropdown-button" id="downloadButton">Скачать</button>
                    <button class="custom-dropdown-button" id="copyButton">Копировать путь</button>
                    <div th:if="${isAdmin}">
                        <button class="custom-dropdown-button" id="deleteButton">Удалить</button>
                        <button class="custom-dropdown-button" id="replaceButton">Заменить</button>
                    </div>
                    <button class="custom-dropdown-button" id="historyButton">История</button>
                </div>
            </div>

            <div class="dialog-box" id="dialog-box">
                <div class="dialog-content">
                    <h2>Замена файла</h2>
                    <form action="/api/replace" enctype="multipart/form-data" method="post">
                        <input name="filePath" th:value="${file.location}" type="hidden"/>
                        <div class="form-group">
                            <div class="drop-zone-container">
                                <div class="drop-zone">
                                    <input id="file-input" name="file" type="file"/>
                                    <label class="drop-zone__prompt" for="file-input">Выберите или переместите файл сюда</label>
                                    <span id="file-name"></span>
                                </div>
                            </div>
                            <div class="buttons">
                                <button class="custom-button" type="submit">Заменить</button>
                                <button class="custom-button" onclick="closeDialog()" type="button">Отменить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="dialog-box" id="fileHistoryDialog" style="display: none;">
                <div class="dialog-content">
                    <h2>История файла</h2>
                    <div class="file-history-list" id="fileHistoryList">
                        <!-- files -->
                    </div>
                    <button class="custom-button" onclick="closeFileHistoryDialog()" type="button">Закрыть</button>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<div class="pagination" th:fragment="pagination" th:if="${fileInfos.size() gt 0}">
    <span th:each="i : ${pageNumbers}">
        <a onclick="storeSearch(); return true;" th:href="@{/search(page=0, query=${query})}" th:if="${i == -1}">«</a>
        <a onclick="storeSearch(); return true;" th:classappend="${i == page} ? 'selected-page'"
           th:href="@{/search(page=${i}, query=${query})}" th:if="${i >= 0 && i < totalPages}">
            <span th:text="${i + 1}"></span>
        </a>
        <a onclick="storeSearch(); return true;" th:href="@{/search(page=${totalPages - 1}, query=${query})}"
           th:if="${i == totalPages - 1}">»</a>
    </span>
</div>

<div class="dialog-box" id="settingsDialog">
    <div class="dialog-content">
        <h2>Настройки</h2>
        <div class="settings-section margin-bottom">
            <h3>Темы</h3>
            <div class="theme-switcher margin-bottom">
                <label class="theme-dropdown-label" for="theme-dropdown">Тема:</label>
                <select class="theme-dropdown" id="theme-dropdown" onchange="changeTheme()">
                    <option value="system">Системная</option>
                    <option value="dark">Тёмная</option>
                    <option value="light">Светлая</option>
                </select>
            </div>
            <div class="input-group margin-bottom">
                <label class="theme-dropdown-label" for="colorPicker">Цвет:</label>
                <select class="theme-dropdown" id="colorPicker" onchange="handleAccentColorPicker()">
                    <option value="">Выберите цвет</option>
                    <option value="#a14242">Темно-красный</option>
                    <option value="#588163">Оливково-зеленый</option>
                    <option value="#6e57d2">Лавандовый</option>
                    <option value="#ff8a22">Оранжевый</option>
                    <option value="#e00a97">Маджента</option>
                    <option value="#843c54">Коричневый</option>
                    <option value="#1a4f76">Темно-синий</option>
                    <option value="#ffd700">Золотой</option>
                    <option value="#8b4513">Седло коричневый</option>
                    <option value="#4682b4">Стальной голубой</option>
                    <option value="#ff69b4">Ярко-розовый</option>
                    <option value="#20b2aa">Светло-морской зеленый</option>
                </select>
            </div>
            <div class="input-group margin-bottom">
                <label for="accentColor">Сторонний цвет (HEX):</label>
                <input id="accentColor" placeholder="Enter color" type="text">
            </div>
            <div class="button-group">
                <button class="custom-button" onclick="handleAccentColorHex()" type="button">Применить цвет</button>
                <button class="custom-button" onclick="resetAccentColor()">Сбросить цвет</button>
            </div>
        </div>
        <div class="margin-bottom" th:if="${isAdmin}">
            <h3>Admin</h3>
            <div class="input-group">
                <label for="userName">Дать админку:</label>
                <input id="username" placeholder="Введите имя" type="text">
            </div>
            <div class="button-group">
                <button class="custom-button" onclick="grantAdmin()" type="button">Применить</button>
            </div>
        </div>
        <div class="margin-bottom" th:if="${isAdmin}">
            <h3>Системное</h3>
            <div class="input-group">
                <label for="searcherPath">Путь для поиска:</label>
                <input id="searcherPath" placeholder="/путь/для/поиска" th:value="${searchPath}" type="text">
            </div>
            <div class="button-group margin-bottom">
                <button class="custom-button" onclick="applyCustomPath()" type="button">Применить</button>
            </div>
            <button class="custom-button" onclick="resetDatabase()" type="button">Сбросить все базы</button>
            <button class="custom-button" onclick="resetFileDatabase()" type="button">Сбросить базу файлов</button>
            <button class="custom-button" onclick="restartServer()" type="button">Перезапустить сервер</button>
        </div>
        <div class="account-credentials margin-bottom">
            <h3>Аккаунт</h3>
            <div class="input-group">
                <label for="nickname">Имя:</label>
                <input id="nickname" th:placeholder="${nickname}" type="text">
            </div>
            <div class="input-group">
                <label for="old-password">Старый пароль:</label>
                <input id="old-password" placeholder="Старый пароль" type="password">
            </div>
            <div class="input-group">
                <label for="new-password">Новый пароль:</label>
                <input id="new-password" placeholder="Новый пароль" type="password">
            </div>
            <div class="button-group">
                <button class="custom-button" onclick="changePassword()" type="button">Применить изменения</button>
            </div>
            <button class="custom-button" onclick="logout()" type="button">Выйти из аккаунта</button>
        </div>
        <button class="custom-button" onclick="closeSettingsDialog()" type="button">Закрыть</button>
    </div>
</div>

</body>
</html>