<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<head>
    <title>Архив</title>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/themes.js}"></script>
    <script th:src="@{/js/requests.js}"></script>
    <script th:src="@{/js/dropzone.js}"></script>
    <script th:src="@{/js/search.js}"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>

<body th:data-is-admin="${isAdmin}" th:data-is-custom-path="${isCustomPathDisabled}" th:data-path="${path}">
<div class="header-container">
    <h1>Архив</h1>
    <div class="button-list">
        <button class="settings-button" onclick="openDialog('settingsDialog')" type="button">Настройки</button>
        <button class="settings-button" onclick="openDialog('uploadDialog')">Загрузить</button>
        <button class="settings-button" onclick="openReview()">Ждут одобрения</button>
        <button class="settings-button" id="search-button">Искать</button>
    </div>
</div>

<div th:replace="~{::pagination}"></div>

<div class="table-container">
    <table id="file-paths">
        <thead>
        <tr>
            <th data-column="decNumber">
                <a class="sort">Дец. номер</a>
                <input class="search-input" data-search-field="decNumber" id="decNumber" type="text">
            </th>
            <th data-column="deviceName">
                <a class="sort">Наименование</a>
                <input class="search-input" data-search-field="deviceName" id="deviceName" type="text">
            </th>
            <th data-column="documentType">
                <a class="sort">Тип документа</a>
                <input class="search-input" data-search-field="documentType" id="documentType" type="text">
            </th>
            <th data-column="usedDevices">
                <a class="sort">Прим. устройства</a>
                <input class="search-input" data-search-field="usedDevices" id="usedDevices" type="text">
            </th>
            <th data-column="project">
                <a class="sort">Проект</a>
                <input class="search-input" data-search-field="project" id="project" type="text">
            </th>
            <th data-column="creationTime">
                <a class="sort">Дата внес.</a>
                <input class="search-input" data-search-field="creationTime" id="creationTime" type="text">
            </th>
            <th data-column="lastModified">
                <a class="sort">Дата изм.</a>
                <input class="search-input" data-search-field="lastModified" id="lastModified" type="text">
            </th>
            <th data-column="user" th:if="${isAdmin}">
                <a class="sort">Кем внесено</a>
                <input class="search-input" data-search-field="user" id="user" type="text">
            </th>
            <th data-column="location">
                <a class="sort">Путь</a>
                <input class="search-input" data-search-field="location" id="location" type="text">
            </th>
            <th data-column="inventoryNumber">
                <a class="sort">Инвентарный номер</a>
                <input class="search-input" data-search-field="inventoryNumber" id="inventoryNumber" type="text">
            </th>
            <th></th>
        </tr>
        </thead>

        <tbody id="file-rows">
        <tr th:each="file : ${fileInfos}">
            <td data-column="decNumber"><span th:text="${file.decNumber}"></span></td>
            <td data-column="deviceName"><span th:text="${file.deviceName}"></span></td>
            <td data-column="documentType"><span th:text="${file.documentType}"></span></td>
            <td data-column="usedDevices"><span th:text="${file.usedDevices}"></span></td>
            <td data-column="project"><span th:text="${file.project}"></span></td>
            <td data-column="creationTime"><span th:text="${file.creationTime}"></span></td>
            <td data-column="lastModified"><span th:text="${file.lastModified}"></span></td>
            <td data-column="user" th:if="${isAdmin}"><span th:text="${file.user.username}"></span></td>
            <td data-column="location"><span th:text="${file.location}"></span></td>
            <td data-column="inventoryNumber"><span th:text="${file.inventoryNumber}"></span></td>
            <td>
                <div class="optionsButton">
                    <button class="options-button" th:data-id="${file.id}" th:data-location="${file.location}" onclick="openOptionsButton(this)">...</button>
                </div>

                <div class="dialog-box" id="optionsDialog">
                    <div class="dialog-content" th:data-id="${file.id}" th:data-location="${file.location}">
                        <h2>Опции</h2>
                        <div class="button-list">

                        </div>
                    </div>
                </div>

                <div class="dialog-box" id="replaceDialog">
                    <div class="dialog-content">
                        <h2>Замена файла</h2>
                        <form action="/api/replace" enctype="multipart/form-data" method="post">
                            <input name="filePath" th:value="${file.location}" type="hidden"/>
                            <div class="form-group">
                                <div class="drop-zone-container">
                                    <div class="drop-zone">
                                        <input id="file-input" name="file" type="file"/>
                                        <label class="drop-zone__prompt" for="file-input">Выберите или переместите файл
                                            сюда</label>
                                        <span id="file-name"></span>
                                    </div>
                                </div>
                                <div class="buttons">
                                    <button type="submit">Заменить</button>
                                    <button onclick="closeDialogDropzone()" type="button">Отменить
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="dialog-box" id="fileHistoryDialog" style="display: none;">
                    <div class="dialog-content">
                        <h2>История файла</h2>
                        <div class="file-history-list" id="fileHistoryList">
                            <!-- files -->
                        </div>
                        <button onclick="closeDialog('fileHistoryDialog')" type="button">Закрыть
                        </button>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div id="no-results" class="noResults" style="display: none; text-align: center;">
        <p style="font-size: 20px; font-weight: bold; margin: 20px 0;">Результатов не найдено</p>
        <button class="custom-button" onclick="resetSearch('/search')" type="button">Сбросить поиск</button>
    </div>
</div>

<div class="pagination" th:fragment="pagination" th:if="${fileInfos.size() gt 0}">
    <span th:if="${page > 0}">
        <a th:href="@{/search(page=0)}">«</a>
    </span>

    <span th:each="i : ${pageNumbers}">
        <a th:classappend="${i == page} ? 'selected-page'"
           th:href="@{/search(page=${i})}" th:if="${i >= 0 && i < totalPages}">
            <span th:text="${i + 1}"></span>
        </a>
    </span>

    <span th:if="${page < totalPages - 1}">
        <a th:href="@{/search(page=${totalPages - 1})}">»</a>
    </span>
</div>

<div class="dialog-box" id="uploadDialog" style="display: none;">
    <div class="dialog-content">
        <div class="drag-overlay" id="uploadDragOverlay">Переместите сюда</div>
        <div class="settings-section margin-bottom">
            <h2>Загрузка файла</h2>
            <form id="uploadForm">
                <div class="input-group margin-bottom">
                    <label for="uploadDecNumber">Децимальный номер:</label>
                    <input id="uploadDecNumber" name="decNumber" required type="text">
                </div>
                <div class="input-group margin-bottom">
                    <label for="uploadDeviceName">Наименование устройства:</label>
                    <input id="uploadDeviceName" name="deviceName" required type="text">
                </div>
                <div class="input-group margin-bottom">
                    <label for="uploadDocumentType">Тип документа:</label>
                    <input id="uploadDocumentType" name="documentType" required type="text">
                </div>
                <div class="input-group margin-bottom">
                    <select class="dropdown" id="type-doc-upload-dropdown" onchange="uploadDropdown()">
                        <option value="none">Выберите тип технической документации</option>
                        <option>Электрическая объединенная (Э0)</option>
                        <option>Электрическая структурная (Э1)</option>
                        <option>Электрическая функциональная (Э2)</option>
                        <option>Электрическая принципиальная (полная) (Э3)</option>
                        <option>Электрическая "соединений" (монажная) (Э4)</option>
                        <option>Электрическая "подключения" (Э5)</option>
                        <option>Электрическая общая (Э6)</option>
                        <option>Схема деления (стуктурная) (Е1)</option>
                        <option>Схема деления (функциональная) (Е2)</option>
                        <option>Руководство по эксплуатации (РЭ)</option>
                        <option>Инструкция по монтажу, пуску, регулированию и обкатке изделия (ИМ)</option>
                        <option>Формуляр (ФО)</option>
                        <option>Паспорт (ПС)</option>
                        <option>Этикетка (ЭТ)</option>
                        <option>Каталог изделия (КИ)</option>
                        <option>Нормы расхода запасных частей (НЗЧ)</option>
                        <option>Ведомость ЗИП (ЗИ)</option>
                        <option>Учебно-технические плакаты (УП)</option>
                        <option>Инструкции эксплуатационные специальные (ИС)</option>
                        <option>Ведомость эксплуатационных документов (ВЭ)</option>
                        <option>Сборочный чертеж (СБ)</option>
                        <option>Чертеж общего вида (ВО)</option>
                        <option>Теоретический чертеж (ТЧ)</option>
                        <option>Габаритный чертеж (ГЧ)</option>
                        <option>Электромонтажный чертеж (МЭ)</option>
                        <option>Монтажный чертеж (МЧ)</option>
                        <option>Упаковочный чертеж (УЧ)</option>
                        <option>Электронная структура изделия (конструктивная)</option>
                        <option>Спецификация</option>
                        <option>Ведомость спецификации‌ (ВС)</option>
                        <option>Ведомость ссылочных документов (ВД)</option>
                        <option>Ведомость покупных изделии‌ (ВП)</option>
                        <option>Ведомость разрешения применения покупных изделии‌ (ВИ)</option>
                        <option>Ведомость держателей подлинников (ДП)</option>
                        <option>Ведомость технического предложения (ПТ)</option>
                        <option>Ведомость эскизного проекта (ЭП)</option>
                        <option>Ведомость технического проекта (ТП)</option>
                        <option>Пояснительная записка (ПЗ)</option>
                        <option>Ведомость электронных документов (ВДЭ)</option>
                        <option>Технические условия (ТУ)</option>
                        <option>Программа и методика испытании‌ (ПМ)</option>
                        <option>Таблицы (ТБ)</option>
                        <option>Расчеты (РР)</option>
                        <option>Инструкция (И...)</option>
                        <option>Документы прочие (Д...)</option>
                    </select>
                </div>
                <div class="input-group margin-bottom">
                    <label for="uploadUsedDevices">Применяемые устройства:</label>
                    <input id="uploadUsedDevices" name="usedDevices" placeholder="необязательно" type="text">
                </div>
                <div class="input-group margin-bottom">
                    <label for="uploadProject">Проект:</label>
                    <input id="uploadProject" name="project" type="text">
                </div>
                <div class="input-group margin-bottom">
                    <label for="uploadInventoryNumber">Инвентарный номер:</label>
                    <input id="uploadInventoryNumber" name="inventoryNumber" type="text">
                </div>
                <div class="input-group margin-bottom" th:if="${isCustomPathDisabled}">
                    <label for="uploadLocation">Путь куда загрузить:</label>
                    <input id="uploadLocation" name="location" placeholder="/путь/до/папки" type="text">
                </div>
                <div class="form-group margin-bottom">
                    <label for="fileInput">Выберите файл:</label>
                    <input id="fileInput" name="file" required type="file">
                </div>
                <div class="margin-bottom" id="error-message" style="color: red; display: none;"></div>
                <button class=" margin-bottom" onclick="submitForm()" type="button">Загрузить</button>
                <button onclick="closeDialog('uploadDialog')" type="button">Отменить</button>
            </form>
        </div>
    </div>
</div>

<div class="dialog-box" id="updateDialog" style="display: none;">
    <div class="dialog-content">
        <div class="settings-section margin-bottom">
            <h2>Изменение информации о файле</h2>
            <form action="/api/update" enctype="multipart/form-data" id="updateForm" method="post">
                <input id="fileId" name="id" type="hidden">
                <div class="input-group margin-bottom">
                    <label for="updateDecNumber">Децимальный номер:</label>
                    <input id="updateDecNumber" name="decNumber" required type="text">
                </div>
                <div class="input-group margin-bottom">
                    <label for="updateDeviceName">Наименование устройства:</label>
                    <input id="updateDeviceName" name="deviceName" required type="text">
                </div>
                <div class="input-group margin-bottom">
                    <label for="updateDocumentType">Тип документа:</label>
                    <input id="updateDocumentType" name="documentType" required type="text">
                </div>
                <div class="input-group margin-bottom">
                    <select class="dropdown" id="type-doc-update-dropdown" onchange="updateDropdown()">
                        <option value="none">Выберите тип технической документации</option>
                        <option>Электрическая объединенная (Э0)</option>
                        <option>Электрическая структурная (Э1)</option>
                        <option>Электрическая функциональная (Э2)</option>
                        <option>Электрическая принципиальная (полная) (Э3)</option>
                        <option>Электрическая "соединений" (монажная) (Э4)</option>
                        <option>Электрическая "подключения" (Э5)</option>
                        <option>Электрическая общая (Э6)</option>
                        <option>Схема деления (стуктурная) (Е1)</option>
                        <option>Схема деления (функциональная) (Е2)</option>
                        <option>Руководство по эксплуатации (РЭ)</option>
                        <option>Инструкция по монтажу, пуску, регулированию и обкатке изделия (ИМ)</option>
                        <option>Формуляр (ФО)</option>
                        <option>Паспорт (ПС)</option>
                        <option>Этикетка (ЭТ)</option>
                        <option>Каталог изделия (КИ)</option>
                        <option>Нормы расхода запасных частей (НЗЧ)</option>
                        <option>Ведомость ЗИП (ЗИ)</option>
                        <option>Учебно-технические плакаты (УП)</option>
                        <option>Инструкции эксплуатационные специальные (ИС)</option>
                        <option>Ведомость эксплуатационных документов (ВЭ)</option>
                        <option>Сборочный чертеж (СБ)</option>
                        <option>Чертеж общего вида (ВО)</option>
                        <option>Теоретический чертеж (ТЧ)</option>
                        <option>Габаритный чертеж (ГЧ)</option>
                        <option>Электромонтажный чертеж (МЭ)</option>
                        <option>Монтажный чертеж (МЧ)</option>
                        <option>Упаковочный чертеж (УЧ)</option>
                        <option>Электронная структура изделия (конструктивная)</option>
                        <option>Спецификация</option>
                        <option>Ведомость спецификации‌ (ВС)</option>
                        <option>Ведомость ссылочных документов (ВД)</option>
                        <option>Ведомость покупных изделии‌ (ВП)</option>
                        <option>Ведомость разрешения применения покупных изделии‌ (ВИ)</option>
                        <option>Ведомость держателей подлинников (ДП)</option>
                        <option>Ведомость технического предложения (ПТ)</option>
                        <option>Ведомость эскизного проекта (ЭП)</option>
                        <option>Ведомость технического проекта (ТП)</option>
                        <option>Пояснительная записка (ПЗ)</option>
                        <option>Ведомость электронных документов (ВДЭ)</option>
                        <option>Технические условия (ТУ)</option>
                        <option>Программа и методика испытании‌ (ПМ)</option>
                        <option>Таблицы (ТБ)</option>
                        <option>Расчеты (РР)</option>
                        <option>Инструкция (И...)</option>
                        <option>Документы прочие (Д...)</option>
                    </select>
                </div>
                <div class="input-group margin-bottom">
                    <label for="updateUsedDevices">Применяемые устройства:</label>
                    <input id="updateUsedDevices" name="usedDevices" type="text">
                </div>
                <div class="input-group margin-bottom">
                    <label for="updateProject">Проект:</label>
                    <input id="updateProject" name="project" type="text">
                </div>
                <div class="input-group margin-bottom">
                    <label for="updateInventoryNumber">Инвентарный номер:</label>
                    <input id="updateInventoryNumber" name="inventoryNumber" type="text">
                </div>
                <div class="input-group margin-bottom">
                    <label for="updateLocation">Путь до документа:</label>
                    <input id="updateLocation" name="location" type="text">
                </div>
                <div class="input-group margin-bottom">
                    <label for="updateLastModified">Дата последнего изменения:</label>
                    <input id="updateLastModified" name="lastModified" required type="datetime-local">
                </div>
                <div class="input-group margin-bottom">
                    <label for="updateCreationTime">Дата создания:</label>
                    <input id="updateCreationTime" name="creationTime" required type="datetime-local">
                </div>
                <div class="input-group margin-bottom">
                    <label for="updateUserName">Имя пользователя:</label>
                    <input id="updateUserName" name="userName" required type="text">
                </div>
                <button class="margin-bottom" type="submit">Сохранить изменения</button>
                <button onclick="closeDialog('updateDialog')" type="button">Отменить</button>
            </form>
        </div>
    </div>
</div>

<div class="dialog-box" id="settingsDialog">
    <div class="dialog-content">
        <h2>Настройки</h2>
        <div class="settings-section margin-bottom">
            <h3>Темы</h3>
            <div class="theme-switcher margin-bottom">
                <label class="dropdown-label" for="theme-dropdown">Тема:</label>
                <select class="dropdown" id="theme-dropdown" onchange="changeTheme()">
                    <option value="system">Системная</option>
                    <option value="dark">Тёмная</option>
                    <option value="light">Светлая</option>
                </select>
            </div>
            <div class="input-group margin-bottom">
                <label class="dropdown-label" for="colorPicker">Цвет:</label>
                <select class="dropdown" id="colorPicker" onchange="handleAccentColorPicker()">
                    <option value="">Выберите цвет</option>
                    <option value="#a14242">Темно-красный</option>
                    <option value="#588163">Оливково-зеленый</option>
                    <option value="#6e57d2">Лавандовый</option>
                    <option value="#ff8a22">Оранжевый</option>
                    <option value="#e00a97">Маджента</option>
                    <option value="#843c54">Коричневый</option>
                    <option value="#1a4f76">Темно-синий</option>
                    <option value="#ffd700">Золотой</option>
                    <option value="#8b4513">Седло коричневый</option>
                    <option value="#4682b4">Стальной голубой</option>
                    <option value="#ff69b4">Ярко-розовый</option>
                    <option value="#20b2aa">Светло-морской зеленый</option>
                </select>
            </div>
            <div class="input-group margin-bottom">
                <label for="accentColor">Сторонний цвет (HEX):</label>
                <input id="accentColor" placeholder="Enter color" type="text">
            </div>
            <div class="button-group">
                <button onclick="handleAccentColorHex()" type="button">Применить цвет</button>
                <button onclick="resetAccentColor()">Сбросить цвет</button>
            </div>
        </div>
        <div class="input-group margin-bottom checkbox-container">
            <h3>Вкладки</h3>
            <div>
                <label><input checked data-column="decNumber" type="checkbox"> Дец. номер</label>
                <label><input checked data-column="deviceName" type="checkbox"> Наименование</label>
                <label><input checked data-column="documentType" type="checkbox"> Тип документа</label>
                <label><input checked data-column="usedDevices" type="checkbox"> Прим. устройства</label>
                <label><input checked data-column="project" type="checkbox"> Проект</label>
                <label><input checked data-column="creationTime" type="checkbox"> Дата внес.</label>
                <label><input checked data-column="lastModified" type="checkbox"> Дата изм.</label>
                <label th:if="${isAdmin}"><input checked data-column="user" type="checkbox"> Кем внесено</label>
                <label><input checked data-column="location" type="checkbox"> Путь</label>
                <label><input checked data-column="inventoryNumber" type="checkbox"> Инвентарный номер</label>
            </div>
        </div>
        <div class="margin-bottom" th:if="${isAdmin}">
            <h3>Admin</h3>
            <div class="input-group">
                <label for="userName">Дать админку:</label>
                <input id="username" placeholder="Введите имя" type="text">
            </div>
            <div class="button-group margin-bottom">
                <button onclick="grantAdmin()" type="button">Применить</button>
            </div>
        </div>
        <div class="margin-bottom" th:if="${isAdmin}">
            <h3>Системное</h3>
            <div class="input-group">
                <label for="searcherPath">Путь для загрузки файлов по умолчанию:</label>
                <input id="searcherPath" placeholder="/путь/до/папки" th:value="${path}" type="text">
            </div>
            <div class="button-group margin-bottom">
                <button onclick="applyCustomPath()" type="button">Применить</button>
                <button onclick="dropCustomPath()" type="button">Сбросить</button>
            </div>
            <button onclick="resetDatabase()" type="button">Сбросить все базы</button>
            <button onclick="resetFileDatabase()" type="button">Сбросить базу файлов</button>
            <button onclick="setDummyFiles()" type="button">Заполнить базу пустышками
                (тестирование)
            </button>
            <button onclick="restartServer()" type="button">Перезапустить сервер</button>
        </div>
        <div class="account-credentials margin-bottom">
            <h3>Аккаунт</h3>
            <div class="input-group">
                <label for="nickname">Имя:</label>
                <input id="nickname" th:placeholder="${nickname}" type="text">
            </div>
            <div class="input-group">
                <label for="old-password">Старый пароль:</label>
                <input id="old-password" placeholder="Старый пароль" type="password">
            </div>
            <div class="input-group">
                <label for="new-password">Новый пароль:</label>
                <input id="new-password" placeholder="Новый пароль" type="password">
            </div>
            <div class="button-group">
                <button onclick="changePassword()" type="button">Применить изменения</button>
            </div>
            <button onclick="logout()" type="button">Выйти из аккаунта</button>
        </div>
        <button onclick="closeDialog('settingsDialog')" type="button">Закрыть</button>
    </div>
</div>

</body>
</html>