<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Start Page</title>
    <link rel="stylesheet" th:href="@{/css/start.css}"/>
    <script th:src="@{/js/themes.js}"></script>
    <script th:src="@{/js/requests.js}"></script>
    <script>
        window.onload = function () {
            initTheme();
        };
    </script>
</head>
<body>
<form>
    <label for="searcherPath">Enter path:</label>
    <input id="searcherPath" name="inputText" placeholder="/path/to/search" type="text"/>
    <button onclick="applyCustomPath()" type="button">Start</button>
</form>
</body>
</html>