<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Start Page</title>
    <link rel="stylesheet" th:href="@{/css/start.css}"/>
    <script th:src="@{/js/themes.js}"></script>
    <script>
        window.onload = function () {
            initTheme();
        };
    </script>
</head>
<body>
<form action="/api/submit" method="post">
    <label for="inputText">Enter path:</label>
    <input id="inputText" name="inputText" type="text"/>
    <button type="submit">Start</button>
</form>
</body>
</html>